pipeline/DeltaCopyFolderPartitionFromS3.json
{
	"name": "DeltaCopyFolderPartitionFromS3",
	"properties": {
		"activities": [
			{
				"name": "LookupLastJobRunTime",
				"description": "Lookup activity to retrieve the last copy job run time from an external control table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(JobRunTime) as LastModifiedTime from s3_partition_delta_control_table where PartitionPrefix = '@{pipeline().parameters.prefixStr}' and SuccessOrFailure = 1",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DeltaCopyFromSinglePartition",
				"description": "Copy activity to do delta copy on each folder partition from AWS S3 to Azure Data Lake Storage Gen2.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastJobRunTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.05:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@{activity('LookupLastJobRunTime').output.value[0].LastModifiedTime}",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"prefix": {
								"value": "@{pipeline().parameters.prefixStr}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Insert_JobRunTime_success",
				"description": "Connect to a stored procedure on the same Azure SQL database with the control table. The stored procedure is used to insert a new line in control table to show the status of copying each parition when it succeeds.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyFromSinglePartition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insert_partition_JobRunTime_success]",
					"storedProcedureParameters": {
						"JobRunTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PartPrefix": {
							"value": {
								"value": "@pipeline().parameters.prefixStr",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessOrFailure": {
							"value": "True",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert_JobRunTime_fail",
				"description": "Connect to a stored procedure on the same Azure SQL database with the control table. The stored procedure is used to insert a new line in control table to show the status of copying each parition when it fails.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyFromSinglePartition",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insert_partition_JobRunTime_success]",
					"storedProcedureParameters": {
						"JobRunTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PartPrefix": {
							"value": {
								"value": "@pipeline().parameters.prefixStr",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessOrFailure": {
							"value": "False",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"prefixStr": {
				"type": "string"
			},
			"AWS_S3_bucketName": {
				"type": "string"
			},
			"Azure_Storage_fileSystem": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-25T13:50:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}