pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "regionArr",
					"value": {
						"value": "@createArray('v3','cn')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('regionArr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/liang.haibin@microsoftinternal.partner.onmschina.cn/testpython2",
								"baseParameters": {
									"day": {
										"value": "@{formatDateTime(addHours(getPastTime(1,'Day'),8),'yyyy-MM-dd')}",
										"type": "Expression"
									},
									"locations": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"regionArr": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-03-10T15:23:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}